*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
    background: #0f172a;
    color: white;
}
/* Navbar */

header{

position:sticky;
top:0;
background:#fff;
box-shadow:0 3px 10px rgba(0,0,0,.1);
z-index:1000;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;

}

.logo{

font-size:30px;
font-weight:700;
color:#5a2fd6;

}

nav ul{

display:flex;
list-style:none;

}

nav ul li{

margin-left:35px;

}

nav ul li a{

text-decoration:none;
font-weight:600;
color:#333;
transition:.3s;

}

nav ul li a:hover{

color:#5a2fd6;

}

/* Hero */

.hero{

display:flex;
justify-content:space-between;
align-items:center;
min-height:90vh;
padding:0 8%;

}

.hero-text{

width:50%;

}

.hero-text h1{

font-size:55px;
margin-bottom:15px;

}

.hero-text h2{

color:#5a2fd6;
margin-bottom:20px;

}

.hero-text p{

font-size:18px;
line-height:30px;
margin-bottom:30px;

}

.btn{

display:inline-block;
background:#5a2fd6;
color:#fff;
padding:14px 30px;
text-decoration:none;
border-radius:8px;
transition:.3s;

}

.btn:hover{

background:#3417a7;
transform:scale(1.05);

}

.hero-image img{

width:350px;

}

/* Sections */

.section{

padding:80px 10%;
text-align:center;

}

.section h2{

font-size:38px;
color:#5a2fd6;
margin-bottom:25px;

}

.section p{

width:75%;
margin:auto;
line-height:30px;
font-size:18px;

}

/* Skills Section */

.skills{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
    margin-top:40px;
}

.card{
    width:220px;
    background:#fff;
    padding:30px 20px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
    transition:0.4s;
    cursor:pointer;
}

.card span{
    font-size:45px;
    display:block;
    margin-bottom:15px;
}

.card h3{
    color:#5a2fd6;
    margin-bottom:10px;
}

.card p{
    font-size:14px;
    color:#555;
    line-height:22px;
}

.card:hover{
    transform:translateY(-12px) scale(1.05);
    background:linear-gradient(135deg,#5a2fd6,#7b5cff);
}

.card:hover h3,
.card:hover p,
.card:hover span{
    color:#fff;
}
/* Contact */

#contact p{

margin:15px 0;

}

/* Footer */

footer{

margin-top:40px;
background:#5a2fd6;
color:white;
text-align:center;
padding:20px;

}

/* Responsive */

@media(max-width:768px){

nav{

flex-direction:column;

}

nav ul{

margin-top:20px;

}

nav ul li{

margin:10px;

}

.hero{

flex-direction:column-reverse;
text-align:center;
padding:60px 8%;

}

.hero-text{

width:100%;

}

.hero-text h1{

font-size:40px;

}

.hero-image img{

width:240px;
margin-bottom:30px;

}

.section p{

width:100%;

}

.skills{

flex-direction:column;
align-items:center;

}

}